# Final Project
## About
This program attempts to predict the type of physical activity from tri-axial smartphone accelerometer data.
### Input Data
* "train_time_series.csv": contains raw acc. data with the format "timestamp, UTC time, accuracy, x, y, z"
* "train_labels.csv": contains act. lvls to label model
    * 1 = standing
    * 2 = walking
    * 3 = stairs down
    * 4 = stairs up
Note: the labels are provided for every 10th observation in the time series data.

### Test Data
The final test for the program is to evaluate "test_time_series.csv". 
* "test_labels.csv" is provided to tell you what stamps need predictions
Note: You need to augment the above file to correspond to the class prediction numbers.

In [1]:
# import libraries 
import pandas as pd
import numpy as np

from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import RandomForestClassifier

from sklearn.metrics import accuracy_score
from sklearn.metrics import r2_score

import matplotlib.pyplot as plt

from scipy.fftpack import fft

In [4]:
# import data
train_labels = pd.read_csv('https://courses.edx.org/assets/courseware/v1/d64e74647423e525bbeb13f2884e9cfa/asset-v1:HarvardX+PH526x+2T2020+type@asset+block/train_labels.csv',index_col=0)
train_time_series = pd.read_csv('https://courses.edx.org/assets/courseware/v1/b98039c3648763aae4f153a6ed32f38b/asset-v1:HarvardX+PH526x+2T2020+type@asset+block/train_time_series.csv',index_col=0)
test_labels = pd.read_csv('https://courses.edx.org/assets/courseware/v1/72d5933c310cf5eac3fa3f28b26d9c39/asset-v1:HarvardX+PH526x+2T2020+type@asset+block/test_labels.csv',index_col=0)
test_time_series = pd.read_csv('https://courses.edx.org/assets/courseware/v1/1ca4f3d4976f07b8c4ecf99cf8f7bdbc/asset-v1:HarvardX+PH526x+2T2020+type@asset+block/test_time_series.csv',index_col=0)

In [7]:
# inspect data
train_labels.tail()

           timestamp                 UTC time  label
24289  1565110302030  2019-08-06T16:51:42.030      4
24299  1565110303032  2019-08-06T16:51:43.032      4
24309  1565110304034  2019-08-06T16:51:44.034      4
24319  1565110305037  2019-08-06T16:51:45.037      4
24329  1565110306039  2019-08-06T16:51:46.039      4

In [8]:
# inspect data
train_time_series.tail()

,timestamp,UTC time,accuracy,x,y,z
24325,1565110305638,2019-08-06T16:51:45.638,unknown,0.024384,-0.710709,0.030304
24326,1565110305738,2019-08-06T16:51:45.738,unknown,0.487228,-1.099136,-0.015213
24327,1565110305838,2019-08-06T16:51:45.838,unknown,0.369446,-0.968506,0.036713
24328,1565110305939,2019-08-06T16:51:45.939,unknown,0.167877,-0.802826,0.049805
24329,1565110306039,2019-08-06T16:51:46.039,unknown,0.689346,-0.991043,0.034973

In [12]:
# inspect data
test_labels.head()

           timestamp                 UTC time  label
24339  1565110307041  2019-08-06T16:51:47.041    NaN
24349  1565110308043  2019-08-06T16:51:48.043    NaN
24359  1565110309046  2019-08-06T16:51:49.046    NaN
24369  1565110310048  2019-08-06T16:51:50.048    NaN
24379  1565110311050  2019-08-06T16:51:51.050    NaN

In [13]:
# inspect data
test_time_series.head()

,timestamp,UTC time,accuracy,x,y,z
24330,1565110306139,2019-08-06T16:51:46.139,unknown,0.034286,-1.504456,0.157623
24331,1565110306239,2019-08-06T16:51:46.239,unknown,0.409164,-1.038544,0.030975
24332,1565110306340,2019-08-06T16:51:46.340,unknown,-0.234390,-0.984558,0.124771
24333,1565110306440,2019-08-06T16:51:46.440,unknown,0.251114,-0.787003,0.054810
24334,1565110306540,2019-08-06T16:51:46.540,unknown,0.109924,-0.169510,0.235550

# Attribute Generation

Each x-y-z reading will be its own attribute. Based off of multiple papers, around 57 features are sufficient for a classifier of aboe 90%. A frequently used technique is to use a sliding window of variable length to make predicitions. For this model, windows of 2,6 and 10 will be used for classification, and a majority vote of the preditions based on these windows will be the final decision for each time stamp.

In [ ]:

#################### now features will be added for every timestamp ####################

# define a new dataframe for testing the algorithm
df_2 = train_labels
df_6 = train_labels
df_10 = train_labels

xyz = ["x","y","z"]

for i in range(0,2,)
# 1: sum of acceleration
df["sum"] = df[xyz].sum(axis=0)

# 2: mean of acceleration
df["mean"] = df[xyz].mean(axis=0)

# 3: standard deviation

In [2]:
df.head()

NameError: name 'df' is not defined

## Model Selection 
Now the data is imported. In the previous problems, it was quite simple to apply certain classification models since the features that were used for inference, were independent attributes. If the values were just unravelled into a single vector, they would not be representative of movement. If this was ignored and a simple mean was calculated on the groups of 10 readings, the data would not represent the thing it is trying to model. 

There needs to be some sort of means of combining the data to represent the change in acceleration in every time step.

One study [1] found that random forests were the most accurate in classifying activities froom accelerometer data. 

[1] Martin, Bryan & Addona, Vittorio & Wolfson, Julian & Adomavicius, Gediminas & Fan, Yingling. (2017). Methods for Real-Time Prediction of the Mode of Travel Using Smartphone-Based GPS and Accelerometer Data. Sensors. 17. 2058. 10.3390/s17092058.